*{
  text-decoration: none;
}


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ffffff;
  }
  .box{
    width: 500px;
    height: 400px;
    padding: 30px;
    position: absolute;
    border-radius: 24px;
    top: 50%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box h3{
    color: white;
    text-transform: capitalize;
    font-weight: 300;
  }
  .box h3 a{
    text-decoration: none;
    color: #FF5757;
  }
  .box h4{
    
    color: aliceblue;
  }
  .box h5{
      color: aliceblue;
  }
  .box h5 a{
    text-decoration: none;
    color: #FF5757;
  }
  .a input{
      text-emphasis: none;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #FF5757;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #FF5757;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #FF5757;
  }

  .check{
    display: flex;
    margin: 0% 10%;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-left: 25%;
  }

  .checkbox{
    margin-top: 7%;
    margin-right: 2%;
  }
 