*{
    margin: 0;
    padding: 0;
}
footer{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: whitesmoke;
    color: #ff5454;
    text-align: justify;
}

<<<<<<< HEAD
.innerfooter{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footeritem{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
=======
img{
    max-width: 50vh;
}

>>>>>>> parent of affcf6a... Footer

.footerborder > img{
    max-width: 5vh;
}

ul > img{
    max-width: 5vh;
}

<<<<<<< HEAD
/* use only if want border under the top objects 
.border{
    height: 2px;
    width: 40px;
    background: #000;
} */

ul{
    list-style: none;
    color: #ff5757;
    font-size: 15px;
    letter-spacing: 0.5px;
}


footer ul .fa{
    text-decoration: none;
    outline: none;
    color: #ff5757;
    transition: 0.5s;
}

footer ul a:hover{
    color: #ff9800;
}

footer ul li{
    margin: 10px 0;
    height: 25px;
}

footer li:hover{
    list-style: disc;
}

footer li .fa{
    margin-right: 20px;
}

.footersocialmedia{
    width: 100%;
    color: #ff5757;
    text-align: center;
}

.footersocialmedia a {
    text-decoration: none;
}

.footersocialmedia i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #ff7457;
    border-radius: 50%;
    transition: 0.3s;
}

.footersocialmedia i:hover{
    background: grey;
}

.footerLogo{
    max-width: 40vh;
    margin-bottom: 10px;
=======

.footeritems{
    display: flex;
    flex-flow: nowrap;
    align-content: flex-end;
>>>>>>> parent of affcf6a... Footer
}



<<<<<<< HEAD
.footerbottom{
    padding: 10px;
    background: #ff5757;
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 600px){
    .footeritem{
        width: 100%;
    }
}
@media screen and (max-width: 1085px){
    .footer-item{
        width: 75%;
    }
}
=======
>>>>>>> parent of affcf6a... Footer
